*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; 
  
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

label{
  font-size: 1.2rem;
  font-weight: bold;

}

input, textarea, select, button{
  display: block;

  width: 20rem;
  height: 3rem;

  font-size: 1rem;
  margin: 4px 0px 8px 0px;

}

